
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

    <!--         CREATED BY VATSONIO          -->

	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>DivassHelp</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" href="images/favicon.ico">
	
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900' rel='stylesheet' type='text/css'>

	<audio id="sound1" src="sounds/New Gat Red.wav" preload="auto" ></audio>
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<!-- Superfish -->
	<link rel="stylesheet" href="css/superfish.css">
	<!-- Main Style -->
	<link rel="stylesheet" href="css/style.css">
	<!-- Like button Style -->
	<link rel="stylesheet" href="css/Like button.css">

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body class="vatsonio-area">
		<div id="vatsonio-wrapper">
		<div id="vatsonio-page">
			<div id="vatsonio-header">
				<header id="vatsonio-header-section">
					<div class="container" style="padding: 0 0 4em 0;">
						<div class="nav-header">
							<a href="#" class="js-vatsonio-nav-toggl9e vatsonio-nav-toggle"><i></i></a>
							<h1 id="vatsonio-logo"><a href="/">
								The Divass
							</a>
							<!-- START #vatsonio-menu-wrap -->
							<nav id="vatsonio-menu-wrap" role="navigation">
								<ul class="sf-menu" id="vatsonio-primary-menu">
									<li class="active">
										<a style="color: #4CB648;" href="/">Домашня сторінка</a>
									</li>
									<% if (!user) { %>
										<li>
											<a href="/login">Вхід</a>
										</li>
										<li>
											<a href="/register">Реєстрація</a>
										</li>
									<% } else { %>
										<li>
											<a href="/profile"><%= user.username %></a>
										</li>
										<!-- <% if (user.role == 'Волонтер') { %>
											<li>
												<a href="/volunteer-dashboard">Панель волонтера</a>
											</li>
										<% } else { %>
											<li>
												<a href="/user-dashboard">Панель користувача</a>
											</li>
										<% } %> -->
									<% } %>
									<li><a href="/contact">Контактна форма</a></li>
									<li><a href="/about">Про Нас</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</header>		
			</div>
			
		<!-- end:vatsonio-header -->
		<div class="vatsonio-hero">
			<div class="vatsonio-overlay"></div>
			<div class="vatsonio-cover" data-stellar-background-ratio="0.5" style="background-image: url(images/home-blur-1.png);">
				<div class="desc animate-box">
					<div class="container">
						<div class="row">
							<div class="col-md-7">
								<h2><br> <b>Знайдіть допомогу, яка вам потрібна</b></h2>
								<p><span>Created with <i class="icon-heart3"></i> by <a href="https://twitter.com/vatsonio" class="vatsonio-site-name" onclick="document.getElementById('sound1').play();">Divass</a></span></p>
								<span><a class="btn btn-primary" href="#resume" onclick="document.getElementById('sound1').play();">Тільки Вперед!</a></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end:vatsonio-hero -->
		<section class="dark-bg" id="resume">	
			<div id="vatsonio-schedule-section" class="vatsonio-lightgray-section">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<div class="heading-section text-center animate-box">
								<h3><b>ЗАЯВКИ</b></h3>
								<p>Тут ти зможеш спостерігати за всіма заявками</p>
							</div>
						</div>
					</div>
					<div class="row animate-box">
						<div class="row text-center">
	
							<div class="row text-center">
								<div class="container">
									<% if (!user) { %>
										<p style="font-style: italic;">Будь ласка, увійдіть, щоб переглянути заявки.</p>
									<% } else { %>
										<table class="table table-striped">
											<thead>
												<tr>
													<th>Заголовок</th>
													<th>Опис</th>
													<th>Місцезнаходження</th>
													<th>Статус</th>
													<th>Дія</th>
												</tr>
											</thead>
											<tbody id="requests-list">
												<% requests.forEach(function(request) { %>
													<tr>
														<td><b><%= request.title %></b></td>
														<td><%= request.description %></td>
														<td><%= request.location %></td>
														<td><%= request.status %></td>
														<td>
															<% if (user.role == 'Волонтер' && request.status == 'Open') { %>
																<!-- <div style="display: flex; justify-content: center;"> -->
																	<a href="https://t.me/<%= request.tg %>" class="btn btn-primary">Взяти заявку</a>
																<!-- </div> -->
															<% } %>
														</td>
													</tr>
												<% }); %>
											</tbody>
										</table>
									<% } %>
								</div>
							</div>
							
							
						</div>
					</div>
				</div>
			</div>
			</section>
			<footer>
				<div id="footer" style="padding: 2em 0 0 0">
					<div class="container">
						<div class="col-md-6 col-md-offset-3 text-center">
							<!-- <p><a href="#" title="Love it" class="vatsonioBtn vatsonioBtn-counter multiple-count" data-count="0"><span>&#x2764;</span> Like it</a></p> -->
							<p><a href="#" title="Вподобайка" class="vatsonioBtn vatsonioBtn-counter" data-count="0" onclick="document.getElementById('sound1').play();"><span>&#x2764;</span> Like it</a></p>
							<p class="vatsonio-social-icons">
								<a href="#" onclick="document.getElementById('sound1').play();"><i class="icon-twitter2"></i></a>
								<a href="#" onclick="document.getElementById('sound1').play();"><i class="icon-facebook2"></i></a>
								<a href="#" onclick="document.getElementById('sound1').play();"><i class="icon-instagram"></i></a>
								<a href="#" onclick="document.getElementById('sound1').play();"><i class="icon-youtube"></i></a>
							</p>
							<p>© 2024 Divass. All Rights Reserved.</p>
						</div>
					</div>
				</div>
			</footer>
	
	<!-- GO TO TOP  --> 
	<a onclick="document.getElementById('sound1').play();"   href="#" id="back-to-top" title="Піднятись на гору" class="">&uarr;</a> 
	<!-- GO TO TOP End --> 

	</div>

	</div>
	<!-- END wrapper -->

	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Stellar -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Superfish -->
	<script src="js/hoverIntent.js"></script>
	<script src="js/superfish.js"></script>
	<!-- Main JS -->
	<script src="js/main.js"></script>

	</body>
</html>

